<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Editar Estado, Ubicación y Asignación</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Buscar equipo por Bien Nacional -->
        <div [ngClass]="{
  'col-sm-6 col-lg-4 search-container': equipment,
  ' col-sm-12': !equipment
}">
          <div [ngClass]="{
  ' ': equipment,
  'row': !equipment
}">
            <div [ngClass]="{
  ' ': equipment,
  'col-md-8': !equipment
}">
              <mat-form-field class="search-field">
                <mat-label>Buscar por Bien Nacional</mat-label>
                <input matInput formControlName="bienNacional" required>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <button mat-raised-button color="primary" (click)="searchEquipment()" *ngIf="!equipment"
                class="search-button">Buscar</button>

            </div>
          </div>
        </div>



        <!-- Campos editables -->
        <div class="col-sm-6 col-lg-4" *ngIf="equipment">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" required>
              <mat-option value="operativo">Operativo</mat-option>
              <mat-option value="reparacion">Reparación</mat-option>
              <mat-option value="inoperativo">Inoperativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4" *ngIf="equipment">
          <mat-form-field>
            <mat-label>Ubicación</mat-label>
            <input matInput formControlName="ubicacion" required>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4" *ngIf="equipment">
          <mat-form-field>
            <mat-label>Asignación</mat-label>
            <input matInput formControlName="asignacion" required>
          </mat-form-field>
        </div>

        <!-- Motivo y Observación -->
        <div class="col-sm-6 col-lg-4" *ngIf="equipment">
          <mat-form-field>
            <mat-label>Motivo</mat-label>
            <mat-select formControlName="motivo" required>
              <mat-option value="reubicacion">Reubicación</mat-option>
              <mat-option value="reparacion">Reparación</mat-option>
              <mat-option value="reasignacion">Reasignación</mat-option>
              <mat-option value="entrega">Entrega</mat-option>
              <mat-option value="esperaEntrega">Espera por Entrega</mat-option>
              <mat-option value="esperaPieza">Espera por Pieza</mat-option>
              <mat-option value="desincorporacion">Desincorporación</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4" *ngIf="equipment">
          <mat-form-field>
            <mat-label>Observación</mat-label>
            <textarea matInput formControlName="observacion" required></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-4" *ngIf="equipment">
          <mat-form-field>
            <mat-label>Características</mat-label>
            <textarea matInput formControlName="caracteristicas" required></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Botones de Guardar Cambios y Restablecer Búsqueda -->
      <div class="button-container" *ngIf="equipment">
        <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
        <button mat-raised-button color="warn" (click)="resetSearch()">Restablecer Búsqueda</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>