<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Dashboard</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Buscar por Bien Nacional</mat-label>
    <input matInput [(ngModel)]="bienNacional" placeholder="Ingrese el Bien Nacional" (keydown)="onKeyPress($event)"  />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="buscarEquipo()" class="button-search">Buscar</button>
</div>

<div *ngIf="equipoEncontrado" class="result-container">
  <mat-card class="b-1 shadow-none">
    <mat-card-header>
      <mat-card-title>Información del Equipo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Bien Nacional:</strong> {{ equipoEncontrado.bienNacional }}</p>
      <p><strong>Tipo de Equipo:</strong> {{ equipoEncontrado.TipoEquipo }}</p>
      <p><strong>Número de Serie:</strong> {{ equipoEncontrado.numeroSerie }}</p>
      <p><strong>Estado:</strong> {{ equipoEncontrado.estado }}</p>
      <p><strong>Ubicación:</strong> {{ equipoEncontrado.ubicacion }}</p>
      <p><strong>Asignación:</strong> {{ equipoEncontrado.asignacion }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="error" class="error-message">
  <mat-card>
    <mat-card-content>
      <p class="error-text">{{ error }}</p>
    </mat-card-content>
  </mat-card>
</div>
</mat-card-content>
</mat-card>
